@require('../../Variables.styl');

.caps {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

h3 {
  color: $lightblue;
}

h4 {
  color: $lightgrey;
}
