@import 'jeet'
@import '../../common/stylus/variables'

header
  font-family: 'Oswald', sans-serif;
  height: auto;
  .zigzag
    padding-bottom: 10px;
  h1
    text-transform: uppercase;
    margin: 2% 0;

    b
      color: $lightblue;
