@import '../../common/stylus/responsive'
@import '../../common/stylus/variables'

@lost flexbox flex;

header {
  font-family: 'Oswald', sans-serif;
  lost-column: 1/1;

  height: auto;

  h1 {
    text-transform: uppercase;
    margin: 2% 0;
    b {
      color: $lightblue;
    }
  }
}
