.icon
  display: inline-block;
  width: 32px;
  height: 32px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

.twitter
  background-image: embedurl("../svg/twitter2.svg", "utf8");

.facebook
  background-image: embedurl("../svg/facebook2.svg", "utf8");

.linkedin
  background-image: embedurl("../svg/linkedin.svg", "utf8");

.mail
  background-image: embedurl("../svg/mail.svg", "utf8");
